/* CONTAINER GERAL */
.sust-container {
  @apply flex flex-col items-center bg-white px-6 md:px-16 lg:px-40 py-10 space-y-6;
}

/* TÍTULO PRINCIPAL */
.sust-titulo {
  @apply text-3xl md:text-4xl font-bold items-start text-padraoVerdeEscuro mb-4 text-justify;
}

/* SUBTÍTULOS */
.sust-subtitulo {
  @apply text-3xl md:text-3xl font-bold text-padraoVerdeEscuro mt-10 mb-4 text-center;
}

/* PARÁGRAFOS */
.sust-paragrafo {
  @apply text-2xl text-black leading-relaxed text-justify max-w-5xl;
}

/* IMAGENS GRANDES */
.sust-img {
  @apply w-full max-w-4xl rounded-xl shadow-md;
}
