/* CONTAINER PRINCIPAL */
.doacoes-container {
  @apply flex flex-col items-center bg-white px-6 md:px-16 lg:px-32 py-10 space-y-16;
}

/* ===========================
      SEÇÃO HERO (INICIAL)
   =========================== */
.doacoes-hero {
  @apply w-full max-w-7xl mx-auto flex flex-col lg:flex-row
         items-center lg:items-start justify-between gap-12;
}
.doacoes-hero2 {
  @apply w-full max-w-7xl mx-auto flex flex-col lg:flex-row
         items-center lg:items-start justify-between gap-96;
}

.doacoes-hero-texto {
  @apply flex-1 space-y-6;
}

.doacoes-hero-titulo {
  @apply text-2xl md:text-3xl font-bold text-padraoVerdeEscuro text-justify mb-20;
}

.doacoes-hero-subtitulo {
  @apply text-2xl md:text-2xl font-bold text-padraoVerdeEscuro;
}

.doacoes-hero-paragrafo {
  @apply text-black text-xl leading-relaxed max-w-xl;
}

.doacoes-hero-imagem {
  @apply flex-1 flex justify-center mt-20;
}

.doacoes-hero-img {
  @apply w-full max-w-lg lg:max-w-xl object-contain;
}

/* CARD GRANDE COMPLETO */
.doacoes-card-grande-flex {
  @apply bg-padraoVerdeClaro p-8 rounded-2xl space-y-8;
}

/* IMAGEM LATERAL */
.doacoes-card-img-lateral {
  @apply w-40 h-40 ;
}

/* TÍTULOS */
.doacoes-card-titulo {
  @apply text-2xl md:text-3xl font-bold text-green-900;
}

/* TEXTO */
.doacoes-card-texto {
  @apply text-gray-700 text-lg md:text-xl leading-relaxed text-justify;
}

.doacoes-card-titulo2 {
  @apply text-2xl text-start md:text-3xl font-bold text-green-900;
}

/* TEXTO */
.doacoes-card-texto2 {
  @apply text-gray-700 text-lg md:text-xl leading-relaxed text-justify;
}


.doacoes-grid {
  @apply w-full max-w-6xl grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 mt-10 mx-auto;
}

.doacoes-card {
  @apply bg-white rounded-xl shadow-md p-6 flex flex-col items-center text-center space-y-3 border border-gray-200 hover:shadow-lg transition;
}

.doacoes-card-img {
  @apply w-32 h-32 object-contain mx-auto;
}

.doacoes-card-titulo-item {
  @apply text-2xl font-semibold text-justify text-padraoVerdeEscuro;
}

.doacoes-card-paragrafo {
  @apply text-gray-600 text-base;
}

/* {O que não deve ser doado} */
.doacoes-hero2 {
  @apply w-full max-w-7xl mx-auto flex flex-col lg:flex-row
         items-center lg:items-start justify-between gap-12 mt-40;
}

.doacoes-hero-texto2 {
  @apply flex-1 space-y-6;
}

.doacoes-hero-titulo2 {
  @apply text-3xl md:text-4xl font-bold text-padraoVerdeEscuro text-justify mb-14;
}

.doacoes-hero-subtitulo2 {
  @apply text-2xl md:text-2xl font-bold text-padraoVerdeEscuro;
}

.doacoes-hero-paragrafo2 {
  @apply text-black text-2xl leading-relaxed max-w-xl;
}

.doacoes-hero-imagem2 {
  @apply flex-1 flex justify-center;
}
.doacoes-hero-imagem2 {
  @apply flex-1 flex justify-center;
}

.doacoes-hero-img2 {
  @apply w-11/12 max-w-lg lg:max-w-xl object-contain;
}

