/* Descarte Consciente */
.DescarteConsciente { @apply px-6 md:px-16 lg:px-32 py-16; }
.DescarteBox { @apply bg-padraoVerdeClaro rounded-2xl shadow-md p-6 md:p-10 text-center md:text-left; }
.DescarteTitulo { @apply text-xl md:text-2xl font-bold text-center text-padraoVerdeEscuro mb-4; }
.DescarteTexto { @apply text-black text-lg leading-relaxed; }