.Footer {
  @apply mt-auto w-full bg-[#9fc58e] text-white;
  background-image: url("../../images/rodapé.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   overflow-x: hidden;
}

.Geral{
  @apply max-w-7xl mx-auto px-4
}

.div_VoltarTopo {
  @apply font-fredoka font-medium container mx-auto px-2 pt-1 text-left text-sm;
}

.a_VoltarTopo {
  @apply text-white hover:underline relative flex justify-items-start items-start;
}

.Titulo {
  @apply text-center font-fredoka font-semibold text-lg mt-1 mb-2;
}

.Principal {
  @apply flex flex-col md:flex-row justify-between gap-6 w-full;;
}

.div_BlocoVerde {
  @apply  bg-fundoBlocoVerde p-5 rounded-[20px] flex-none min-w-[230px] m-10;
}

.h3_PaginaSite {
  @apply font-fredoka font-semibold mb-1 text-center ;
}

.ul_PaginaSite {
  @apply space-y-1;
}

.a_PaginaSite {
  @apply text-white font-fredoka font-medium hover:underline text-[15px];
}

.div_RedesSociais {
  @apply flex flex-col justify-center items-center pb-4 mb-2 md:mb-0 flex-1 min-w-[200px]; 
}

.div_RedesSociais_Filha {
  @apply flex space-x-2 text-xl mb-1;
}

.Instagram {
  @apply hover:scale-110 transition;
}

.InstagramIcon{
  @apply w-14 h-14 ;
}

.EmailIcon{
    @apply w-6 h-6 m-2;
}

.FaleConosco {
  @apply bg-gray-200 flex justify-center items-center font-fredoka font-medium px-4 py-1 rounded-[20px] text-sm shadow hover:bg-gray-300;
}

.h3_Equipe {
  @apply font-fredoka font-semibold mb-5 text-center;
}

.p_Equipe{
@apply font-fredoka font-medium text-[15px];
}

.CreditosFinais {
  @apply w-full bg-gray-800 bg-opacity-40 text-white text-center text-[15px] py-3 mt-2;
}
