/* .Footer {
  background-image: url("../../images/rodapé.png");
  background-size: cover;   /* cobre toda a área
  background-position: center; centraliza 
  background-repeat: no-repeat; /* não repete 
  color: white; /* deixa o texto visível 
  
}
.Div_VoltarTopo{
    @apply container mx-auto px-4 pt-2 text-left text-sm
}
.a_VoltarTopo{
@apply text-white hover:underline
}
.Titulo{
@apply text-center font-bold text-xl mt-2 mb-6
}

.Principal{
@apply container mx-auto flex flex-col md:flex-row justify-between px-6
}

.Div_PaginaSite{
    "bg-green-200 p-3 rounded-lg
}

.h3_PaginaSite{
    font-semibold mb-2
}
.ul_PaginaSite{
    space-y-1
}
.a_PaginaSite{
hover:underline
}
 */
